@mixin font ($font-family:'oswald', $font-weight: 400, $url, $font-style:normal) {
  font-family: $font-family;
  font-weight: $font-weight;
  src: url('#($url)');
  font-style: $font-style;
}
@mixin oswald-bold {

}



@font-face {
  font-family: 'oswald';
  src: url('../fonts/oswald-bold.eot');
  src: url('../fonts/oswald-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/oswald-bold.woff2') format('woff2'),
    url('../fonts/oswald-bold.woff') format('woff'),
    url('../fonts/oswald-bold.svg#oswaldbold') format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'oswald';
  src: url('../fonts/oswald-extralight.eot');
  src: url('../fonts/oswald-extralight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/oswald-extralight.woff2') format('woff2'),
    url('../fonts/oswald-extralight.woff') format('woff'),
    url('../fonts/oswald-extralight.svg#oswaldextralight') format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'oswald';
  src: url('../fonts/oswald-light.eot');
  src: url('../fonts/oswald-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/oswald-light.woff2') format('woff2'),
  url('../fonts/oswald-light.woff') format('woff'),
  url('../fonts/oswald-light.svg#oswaldlight') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'oswald';
  src: url('../fonts/oswald-medium.eot');
  src: url('../fonts/oswald-medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/oswald-medium.woff2') format('woff2'),
  url('../fonts/oswald-medium.woff') format('woff'),
  url('../fonts/oswald-medium.svg#oswaldmedium') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'oswald';
  src: url('../fonts/oswald-regular.eot');
  src: url('../fonts/oswald-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/oswald-regular.woff2') format('woff2'),
  url('../fonts/oswald-regular.woff') format('woff'),
  url('../fonts/oswald-regular.svg#oswaldregular') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'oswald';
  src: url('../fonts/oswald-semibold.eot');
  src: url('../fonts/oswald-semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/oswald-semibold.woff2') format('woff2'),
  url('../fonts/oswald-semibold.woff') format('woff'),
  url('../fonts/oswald-semibold.svg#oswaldsemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}