h3 {
  text-align: center;
  color: #690cad;
}

.my-accordion {
  li {
    display: block;
  }
}
.iteration1 {
  width: 50px;
  height: 50px;
  background: #000;
}
$width: 50px;
$class: '.iteration';
@for $i from 1 through 5 {

    .iteration#{$i} {
    width: #{$i}*#{$width}+'px';
  }
}
.new-block {
  background: #d1d1d1;
  height: auto;
  width: 1170px;
  padding: 20px 0 20px;
  margin: 0 auto;
}

@each $var in (first, second, third, fourth, five) {
  .#{$var} {
    background: #8e8e8c;
    width:  auto;
    height: 30px;
    margin: 20px;
    padding-top: 5px;
  }
  .#{$var}:before {
    content: '#{$var}';
    padding-left: 20px;
  }
}


//.accordion-title:before {
//  content: '';
//}


//  &::before {
//    position: absolute;
//    top: 50%;
//    #{$global-right}: 1rem;
//    margin-top: -0.5rem;
//    content: '+';
//  }
//
//  .is-active > &::before {
//    content: '\2013';
//  }