body, html {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  overflow-x: hidden;
}

p {
  color: #0d113d;
  font: 300 15px/24px 'Montserrat', sans-serif;
}
.semiBold {
  font-weight: 700;
}

.border:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
}

ul {
  margin: 0;
  list-style-type: none;
  font-size: 0;
}

ul li {
  display: inline-block;
}

h1, h2, h3, h4 {
  margin: 0;
}
h4 {
  font: 400 20px/26px 'Montserrat', sans-serif;
  color: #0d113d;
}
h6 {
  font: 600 15px/26px 'Montserrat', sans-serif;
  color: #753d9d;
}
a {
  font: 400 15px/1 'Montserrat', sans-serif;
}
//
//{
//  transition: color ease-in-out 0.2s;
//}
.content-wrapper {
  max-width: 1170px;
  margin: auto;
}