/*
.services {
  text-align: center;
  .serv-img {
    margin-bottom: 15px;
    margin-top: 15px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    // background-color: rgba(25, 11, 35, 0.6);
    &:before {
      content: '';
      left: 0;
      top: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(25, 11, 35, 0.6);
    }
    &.one, &.two, &.three, &.four, &.five {
      &:after {
        content: '';
        height: 100px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(0deg, rgba(117, 61, 157, 1), rgba(117, 61, 157, 0));
      }
    }
    &.six p {
      text-align: right;
      right: 40px;
      bottom: 40px;
    }
    &.six span {
      height: 4px;
      width: 90px;
      background: #fff;
      border-radius: 2px;
      position: absolute;
      bottom: 45px;
      right: 70px;
    }
  }
  .serv-img p {
    color: #fff;
    font: 600 17px/26px 'Montserrat', sans-serif;
    position: absolute;
    left: 25px;
    bottom: 10px;
    z-index: 2;
  }
}*/






.header {
  height: 100%;
  background: url(../img/header/v1.jpg) center no-repeat;
}
.header .content-wrapper {
  padding-top: 45px;
}
.head-menu {
  display: inline-block;
  //position: relative;
  //right: 0;
  text-align: right;
  padding-top: 15px;
}
.head-menu li {
  display: inline-block;
  color: #fff;
  padding: 0 10px 0 10px;
  font: 400 15px/26px 'Montserrat', sans-serif;
}
.active {
  color: #753d9d !important;
}
.head-menu li:hover {
  color: #753d9d;
}
.heading {
  padding-top: 225px;
  text-align: center;
}
.heading h1:first-child {
  display: inline-block;
  color: #fff;
  font: 800 70px/1 'Montserrat', sans-serif;
}
.heading h1:last-child {
  display: inline-block;
  color: #a066c9;
  font: 800 70px/1 'Montserrat', sans-serif;
  padding-left: 10px;
}
.header p {
  color: #fff;
  //text-align: center;
  //padding-top: 40px;
  position: relative;
  top: 20px;
  margin: 0 auto;
  //transform: translateX(-15%);
}
.services {
  text-align: center;
}
.serv-img {
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.serv-title {
  position: relative;
  text-align: left;
}
.serv-title span {
  width: 4px;
  height: 38px;
  background: #753d9d;
  position: absolute;
  top: 7px;
  border-radius: 2px;
}
.serv-title h2 {
  font: 600 26px/2 'Montserrat', sans-serif;
  //margin-bottom: 0;
  padding-left: 13px;
}
.serv-img:before {
  content: '';
  left:0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(25, 11, 35, 0.6);
}
.serv-img.one:after,
.serv-img.two:after,
.serv-img.three:after,
.serv-img.four:after,
.serv-img.five:after  {
  content: '';
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(117, 61, 157, 1), rgba(117, 61, 157, 0));
}

img {
  border-radius: 5px;
  width: 100%;
}
.serv-img p {
  //font: 17px;
  color: #fff;
  font: 600 17px/26px 'Montserrat', sans-serif;
  position: absolute;
  left: 25px;
  bottom: 10px;
  z-index: 2;
}
.serv-img.six:hover:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #723d99;
}
.serv-img.six p {
  text-align: right;
  right: 40px;
  bottom: 40px;
}
.serv-img.six span {
  height: 4px;
  width: 90px;
  background: #fff;
  border-radius: 2px;
  position: absolute;
  bottom: 45px;
  right: 70px;
  z-index: 3;
}
.serv-hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: top 0.5s ease-in-out;
}
.serv-hover:hover {
  top: -180px;
}
.serv-hover:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(117, 62, 156, 0.4);
  transition: all 0.5s ease-in-out;
}
.serv-hover:hover:after {
  top: 180px;
  height: 100%;
  width: 100%;
  position: absolute;
}

.serv-hover h6 {
  font: 600 17px/26px 'Montserrat', sans-serif;
  color: #fff;
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 4;
}
.serv-hover span {
  width: 120px;
  height: 4px;
  position: absolute;
  top: 100%;
  left: 15px;
  background-color: #fff;
  border-radius: 2px;
  z-index: 4;
}
.serv-hover p {
  font: 300 14px/22px 'Montserrat', sans-serif;
  text-align: left;
  position: absolute;
  top: 107%;
  left: 15px;
  z-index: 4;
}
.serv-hover img {
  height: 30px;
  width: 44px;
  position: absolute;
  top: 140%;
  right: 18px;
  z-index: 4;
}


























